In [2]:
# Python code to illustrate read() mode
file = open("test.txt", "r")
print (file.read())

Hello
Welcome to Python class
It has been a wonderful experience with you

In [ ]:
# Python code to create a file
file = open('test.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file.close()

In [ ]:
# Python code to illustrate append() mode
file = open('test.txt', 'a')
file.write("This will add this line")
file.close()

In [5]:

# Python code to illustrate read() mode character wise
file = open("test.txt", "r")
print (file.read(5))

This

In [ ]:
# a file named test, will be opened with the reading mode.
file = open('test.txt', 'r')

# This will print every line one by one in the file
for each in file:
    print (each)

Hello All,



How are you

Its been pleasure to interact with you all

In [ ]:
# Python code to illustrate split() function
with open("test.txt", "r") as file:
    data = file.readlines()
    for line in data:
        word = line.split()
        print (word)

['Hello', 'All,']
[]
['How', 'are', 'you']
['Its', 'been', 'pleasure', 'to', 'interact', 'with', 'you', 'all']

In [ ]:
import os
os.remove("test.txt")

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('employees.csv')

# Display the DataFrame
print(df)

        Unnamed: 0                       date    open    high     low   close  \
0                0  2018-01-01 09:15:00+05:30  407.00  407.00  403.70  404.25
1                1  2018-01-01 09:16:00+05:30  404.55  404.90  403.30  404.50
2                2  2018-01-01 09:17:00+05:30  404.55  406.30  404.55  405.50
3                3  2018-01-01 09:18:00+05:30  405.55  405.65  404.60  404.70
4                4  2018-01-01 09:19:00+05:30  405.10  405.10  404.20  404.55
...            ...                        ...     ...     ...     ...     ...
456370       15370  2023-01-03 15:25:00+05:30  820.00  820.50  819.60  820.00
456371       15371  2023-01-03 15:26:00+05:30  820.10  820.35  819.70  820.15
456372       15372  2023-01-03 15:27:00+05:30  820.15  820.15  819.50  819.90
456373       15373  2023-01-03 15:28:00+05:30  819.90  820.40  819.75  820.00
456374       15374  2023-01-03 15:29:00+05:30  820.00  820.00  818.00  818.00

        volume
0        15018
1        12209
2         7837
3         3614
4         4542
...        ...
456370   33880
456371    9931
456372    9150
456373   11068
456374   65713

[456375 rows x 7 columns]