In [1]:
print("hello")

hello

In [2]:
# I need to print hello 10 times
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [6]:
lst=[1,3,2,4,5,6]
for i in lst:
    print(i)

1
3
2
4
5
6

In [7]:
# Task to print Hello 10 time
range(10)

range(0, 10)

In [11]:
for i in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [18]:
num=[1,2,3,4,5,6]
mul=2  
for var in num:
    mul=mul*var
    print(mul)

2
4
6
8
10
12

In [31]:
# Task use + print  as 1,3,6,10,15,21
num=[1,2,3,4,5,6]
add=0
for var in num:
    add=add +var
    print(add)

1
3
6
10
15
21

In [29]:
# task print table of 7 
num=7
for i in range(1,11):
    result=num*i
    print(result)

7
14
21
28
35
42
49
56
63
70

In [1]:
# While loop
i=0   # start point i=0 and i=5
while i<=5:
    print("Welcome")
    i=i+1

Welcome
Welcome
Welcome
Welcome
Welcome
Welcome

In [2]:
# Task to print "even" number till 1 to 50 using while and if as well
i=1
while i<=50:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [3]:
i=1
while i<=50:
    if i%2==0:
        print(i)
    i=i+1

2
4

In [ ]:
#break

for var in "Data Science"